/* Dark mode colors */
:root[data-theme='black'] {
    --sl-color-accent-low: #9ca3af;
    /* gris clair */
    --sl-color-accent: #6b7280;
    /* gris médian */
    --sl-color-accent-high: #d1d5db;
    /* gris très clair */

    --sl-color-white: #f9fafb;
    /* presque blanc */
    --sl-color-gray-1: #f3f4f6;
    --sl-color-gray-2: #e5e7eb;
    --sl-color-gray-3: #d1d5db;
    --sl-color-gray-4: #9ca3af;
    --sl-color-gray-5: #6b7280;
    --sl-color-gray-6: #4b5563;
    --sl-color-black: #374151;
    /* base demandée */
}

/* Light mode colors */
:root[data-theme='light'] {
    --sl-color-accent-low: #f3f4f6;
    --sl-color-accent: #374151;
    --sl-color-accent-high: #111827;

    --sl-color-white: #111827;
    --sl-color-black: #ffffff;

    /* Nuances de gris pour surfaces et bordures */
    --sl-color-gray-7: #f9fafb;
    --sl-color-gray-6: #f3f4f6;
    --sl-color-gray-5: #e5e7eb;
    --sl-color-gray-4: #d1d5db;
    --sl-color-gray-3: #9ca3af;
    --sl-color-gray-2: #6b7280;
    --sl-color-gray-1: #374151;
}

:root {
    table tbody tr td {
        vertical-align: middle;

        img {
            width: 48px;
            height: auto;
            margin: auto;
        }
    }

    h2,
    h3,
    h4 {
        font-size: 24px;
        font-weight: 500;
    }

    h5,
    h6 {
        font-size: 20px;
        font-weight: 500;
    }
}